<header>
    <div class="div-geral-header">
        <div class="logo">
            <img src="../../../../assets/img/logo.png" alt="">
        </div>
        <div class="button-container">
            <button class="toggle-button inicio" (click)="setSelectedOption('inicio')"
                [class.selected]="selectedOption === 'inicio'">
                <mat-icon>home</mat-icon>
                Início
            </button>

            <button class="toggle-button favorito" (click)="setSelectedOption('favorito')"
                [class.selected]="selectedOption === 'favorito'">
                <mat-icon>favorite</mat-icon>
                Favoritos
                <span class="badge"
                    [ngClass]="{'badge-selected': selectedOption === 'favorito'}">{{favoriteCount}}</span>
            </button>
        </div>
    </div>
</header>